@using System.Linq
@using System.Web
@using FileSystemApp.Models
@model FileSystemApp.Models.ViewModels.FolderViewModel
<div id="content">
    <div id="table">
        <table>
            <thead>
                <tr>
                    <th>Less 10MB</th>
                    <th>10Mb-100MB</th>
                    <th>More 100MB</th>
                </tr>
            </thead>
            <tbody id="sizes">
                <tr>
                    <td>@Model.NumberOfFiles.SmallSize</td>
                    <td>@Model.NumberOfFiles.MiddleSize</td>
                    <td>@Model.NumberOfFiles.LargeSize</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br /><br />
    <div id="fileSystem">
        <b>Current path: </b>@Model.FullName<br /><br />
        @foreach (var driver in Model.FileSystemItems)
        {
            <a data-item="@driver.Id" onclick="GetContent(this);" href="#">@driver.Name</a><br />
        }
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/api.js"></script>
}
